NODE_ENV=development
PORT=4000

MONGODB_URI=mongodb://127.0.0.1:27017/sanaa

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

DEVISE_REFERENCE_GLOBALE=XOF

CORS_ORIGIN=http://localhost:5173

EXPORTS_DIR=./storage/exports
